# Core functionality - changes here should be rare!
/src/app.py                   @bluo47
/src/backend/database.py      @bluo47
/src/backend/routers/auth.py  @bluo47

# The frontend will need refactored soon to be more object oriented.
/src/static/   @bluo47
